@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  @apply bg-gradient-to-r from-purple-600 to-blue-600;
  &:hover {
    @apply bg-gradient-to-r from-purple-700 to-blue-700;
  }
}

.gradient-2 {
  @apply bg-gradient-to-r from-sky-600 to-cyan-500;
  &:hover {
    @apply bg-gradient-to-r from-sky-700 to-cyan-600;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f3f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c3c6;
  border-radius: 20px;
  border: 3px solid #f2f3f5;
}
